* {
  font-family: 'Manrope', sans-serif;
}

.form{
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-basis: 500px;

  max-width: 500px;

  margin:  0 auto;
  padding: 20px;

  border: 4px solid white;
  border-radius: 8px;

  background: rgb(2,0,36);
  background: linear-gradient(75deg, rgb(169, 223, 246) 0%, rgb(183, 175, 251) 75%, rgb(153, 210, 248) 100%);
  box-shadow: 20px 21px 2px 1px rgba(0, 0, 0, 0.1);

  font-weight: 500;

}

.App{
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0px;

  min-width: 100vw;
  min-height: 100vh;

  background-color: rgb(120, 169, 221);
  
}

body{
  margin: 0px;
}



select{
  margin-bottom: 15px;
  padding: 0 10px;
  height: 30px;

  border: none;
  border-radius: 8px;

  font-size: 16px;
}

select:focus {
  outline: none;
}

textarea{
  margin-top: 15px;
  padding: 5px 5px;

  max-width: 495px;
  min-height: 50px;

  border: none;
  border-radius: 8px;
}

textarea:focus {
  outline: none;
}


.form-buttons{
  width: 100%;
  margin-top: 20px;

  display: flex;
  justify-content: space-between;
}

.form-buttons_button{
  display: flex;
  flex-basis: 50%;
  justify-content: center;
  max-width: calc(50% - 40px);
  padding: 15px;

  border: none;
  border-radius: 8px;

  cursor: pointer;

  font-weight: 600;
  font-size: 16px;

  background-color:rgb(198, 225, 242);
  box-shadow: 3px 3px 11px 0px rgba(2, 41, 67, 0.558);
}

.form-buttons_button:hover {
  background-color:rgba(86, 122, 239, 0.45);
}



.date{
  margin-bottom: 10px;
  padding: 0 10px;
  height: 30px;
  min-width: 300px;

  border: none;
  border-radius: 8px;
}

.date-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.date:focus {
  outline: none;
}
